.ui-loader {
  --size: 250px;
  --duration: 2s;
  --logo-color: var(--foreground);
  --logo-color-light: var(--muted-foreground);
  --background-base: var(--muted);
  --border-base: var(--border);

  height: var(--size);
  aspect-ratio: 1;
  position: relative;
}

.ui-loader-box {
  position: absolute;
  background: color-mix(in oklch, var(--background-base) 15%, transparent);
  border-radius: 50%;
  border-top: 1px solid var(--border-base);
  box-shadow: var(--shadow-sm);
  backdrop-filter: blur(5px);
  animation: ui-loader-ripple var(--duration) infinite ease-in-out;
}

.ui-loader-box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}

.ui-loader-box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  border-color: color-mix(in oklch, var(--border-base) 80%, transparent);
  animation-delay: 0.2s;
}

.ui-loader-box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  border-color: color-mix(in oklch, var(--border-base) 60%, transparent);
  animation-delay: 0.4s;
}

.ui-loader-box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  border-color: color-mix(in oklch, var(--border-base) 40%, transparent);
  animation-delay: 0.6s;
}

.ui-loader-box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  border-color: color-mix(in oklch, var(--border-base) 20%, transparent);
  animation-delay: 0.8s;
}

.ui-loader-logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.ui-loader-svg {
  fill: var(--logo-color);
  width: 100%;
  animation: ui-loader-color-change var(--duration) infinite ease-in-out;
}

@keyframes ui-loader-ripple {
  0% {
    transform: scale(1);
    box-shadow: var(--shadow-sm);
  }

  50% {
    transform: scale(1.3);
    box-shadow: var(--shadow-lg);
  }

  100% {
    transform: scale(1);
    box-shadow: var(--shadow-sm);
  }
}

@keyframes ui-loader-color-change {
  0% {
    fill: var(--logo-color);
  }

  50% {
    fill: var(--logo-color-light);
  }

  100% {
    fill: var(--logo-color);
  }
}

/* Dark mode adjustments */
.dark .ui-loader {
  --logo-color: var(--foreground);
  --logo-color-light: var(--muted-foreground);
}

